.container.my-4
  h2.text-center
    | Forgot your password?
  .row.justify-content-center
    .col-xl-4.col-lg-6.col-sm-10
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        .form-inputs
          = f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: 'email' }
          = devise_error_messages!
        .form-actions
          = f.button :submit, 'Send me reset password instructions', class: 'btn-primary my-2'
      = render 'devise/shared/links'
