<div class="container my-4">
    <div class="row">
        <article class="col-12">
            <h1 class="mb-4 mb-lg-5"><%= @post.title %></h1>
            <p><%= @post.body %></p>
        </article>
    </div>

    <div class="row">
        <%= simple_form_for [ @post, @post.post_comments.build ] do |f| %>
        <%= f.input :content %>
        <%= f.button :submit, class: "btn-primary my-2"  %>
        <% end %>
    </div>



    <div class="row">
        <% @post.post_comments.each do |comment| %>
        <% break if comment.content.nil? %>
        <div>
            <div class="card mb-4">
                <div class="card-header small mb-2 d-flex">
                    <div id="comment-27">
                        <span class="font-weight-bold">test@test.ru</span>
                        <span class="mx-2 font-weight-light">меньше 1 минуты</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="w-100">
                        <p class="card-text"><%= comment.content %></p>
                    </div>
                </div>
                <hr class="my-2">
                <a class="d-block small text-muted" data-bs-toggle="collapse"
                    href="#new_post_comment-<%= comment.id %>">Ответить</a>
                <div class="collapse" data-bs-target="#new_post_comment-<%= comment.id %>"
                    id="new_post_comment-<%= comment.id %>">
                    <%= simple_form_for PostComment do |f| %>
                    <%= f.input :content %>
                    <%= f.button :submit, class: "btn-primary my-2"  %>
                    <% end %>
                    <form class="simple_form new_post_comment" id="new_post_comment" novalidate="novalidate"
                        action="/posts/980190971/comments" accept-charset="UTF-8" method="post">
                        <input type="hidden" name="authenticity_token"
                            value="pY0XNVp-aSIDzHN3jvR19DEAufULZcptTlNT-1RuVkf6HutKk3w88Ryi54F_YodG0eH-D89iluIxd5OvUp-Bdw">
                        <div class="form-group text required post_comment_content">
                            <textarea class="form-control text required" name="post_comment[content]"
                                id="post_comment_content"></textarea>
                        </div>
                        <div class="form-group hidden post_comment_parent_id">
                            <input class="form-control hidden" value="27" type="hidden" name="post_comment[parent_id]"
                                id="post_comment_parent_id">
                        </div>
                        <input type="submit" name="commit" value="Создать Комментарий" class="btn btn-primary mb-4"
                            data-disable-with="Создать Комментарий">
                    </form>
                </div>
            </div>
        </div>
        <% end %>
    </div>
</div>